body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #121212;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
    font-size: 24px;
}

.starfield {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    z-index: -1;
}

.star {
    width: 2px;
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animateStar 50s linear infinite;
}

@keyframes animateStar {
    0% {
        transform: translate(-50%, -50%);
        width: 2px;
        height: 2px;
    }
    100% {
        transform: translate(-50%, -50%) translateZ(600px);
        width: 15px;
        height: 15px;
        opacity: 0;
    }
}